*.zip
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/SS2020_ALGOS/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/SS2020_ALGOS/v16/.suo
.vs/SS2020_ALGOS/v16/Browse.VC.db
uebung_1/.vs/uebung_1/v16/Browse.VC.db
uebung_1/.vs/uebung_1/v16/Browse.VC.db-shm
uebung_1/.vs/uebung_1/v16/Browse.VC.db-wal
uebung_1/.vs/uebung_1/v16/Browse.VC.opendb
uebung_2/.vs/uebung_2/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/Browse.VC.db-shm
uebung_2/.vs/uebung_2/v16/Browse.VC.db-wal
uebung_2/.vs/uebung_2/v16/Browse.VC.opendb
uebung_2/.vs/uebung_2/v16/ipch/AutoPCH/dbb6d4ecb2d2f42b/TREE.ipch
uebung_3/.vs/uebung_3/v16/.suo
uebung_3/.vs/uebung_3/v16/Browse.VC.db
uebung_3/.vs/uebung_3/v16/Browse.VC.db-shm
uebung_3/.vs/uebung_3/v16/Browse.VC.db-wal
uebung_3/.vs/uebung_3/v16/Browse.VC.opendb
uebung_3/.vs/uebung_3/v16/ipch/AutoPCH/ff3898e1ca470bcc/GRAPH.ipch
uebung_3/uebung_3/uebung_3.vcxproj
uebung_3/uebung_3/uebung_3.vcxproj.filters
uebung_2/.vs/uebung_2/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/.suo
.vs/slnx.sqlite
.vs/SS2020_ALGOS/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/ipch/AutoPCH/dbb6d4ecb2d2f42b/TREE.ipch
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/SS2020_ALGOS/v16/Browse.VC.db-shm
.vs/SS2020_ALGOS/v16/Browse.VC.db-wal
.vs/SS2020_ALGOS/v16/Browse.VC.opendb
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/SS2020_ALGOS/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/.suo
.vs/slnx.sqlite
.vs/SS2020_ALGOS/v16/Browse.VC.db
uebung_2/.vs/uebung_2/v16/ipch/AutoPCH/dbb6d4ecb2d2f42b/TREE.ipch
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/SS2020_ALGOS/v16/Browse.VC.db-shm
.vs/SS2020_ALGOS/v16/Browse.VC.db-wal
.vs/SS2020_ALGOS/v16/Browse.VC.opendb
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/SS2020_ALGOS/v16/.suo
.vs/SS2020_ALGOS/v16/Browse.VC.db
.vs/VSWorkspaceState.json
uebung_3/.vs/uebung_3/v16/.suo
uebung_3/.vs/uebung_3/v16/Browse.VC.db
uebung_3/.vs/uebung_3/v16/ipch/AutoPCH/ff3898e1ca470bcc/GRAPH.ipch
uebung_3/Debug/uebung_3.exe
uebung_3/Debug/uebung_3.ilk
uebung_3/Debug/uebung_3.pdb
uebung_3/uebung_3/Debug/graph.obj
uebung_3/uebung_3/Debug/main.obj
uebung_3/uebung_3/Debug/uebung_3.log
uebung_3/uebung_3/Debug/uebung_3.tlog/CL.command.1.tlog
uebung_3/uebung_3/Debug/uebung_3.tlog/CL.read.1.tlog
uebung_3/uebung_3/Debug/uebung_3.tlog/CL.write.1.tlog
uebung_3/uebung_3/Debug/uebung_3.tlog/link.command.1.tlog
uebung_3/uebung_3/Debug/uebung_3.tlog/link.read.1.tlog
uebung_3/uebung_3/Debug/uebung_3.tlog/link.write.1.tlog
uebung_3/uebung_3/Debug/vc142.idb
uebung_3/uebung_3/Debug/vc142.pdb
